<h3>Temp: </h3>
<%= @weather.temp %>
<h3>Humidity: </h3>
<%= @weather.humid %>
<h2>APRS WX</h2>
<p>Temp:</p><%= @aweather.temp %>
<p>Humidity:</p><%= @aweather.humid %>
<p>Pressure: </p><%= @aweather.barom %>
